body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #333;
  text-align: center;
  padding-top: 100px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF007A;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #cc0063;
}
